@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background: #fff;
}

a{
    text-decoration: none;
}

header{
    display: flex;
    align-items: center;
    height: 120px;
    justify-content: space-around;
}

.nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    transition: .2s ease-in-out;
    border-radius: 30px;
    display: inline-block;
    padding: 10px 15px;
    width: 120px;
}

.nav a:hover{
    background: rgb(255, 255, 255);
    border-radius: 30px;
    color: #af1702;
    font-weight: bold;
    transform: scale(1.1);
}

.nav{
    background:
        linear-gradient(
        to right,
            #df0000,
            #e4280f,
            #f13f12
        );
    border-radius: 55px;
    text-align: center;
    display: flex;
    justify-content: space-around;

}

.nav-items{
    position: relative;
}

.nav-items a{
    position: relative;
}

.nav-items a::before{
    content: '';
    display: block;
    position: absolute;
    background-image: url('icon-hover.png');
    background-size: cover;
    width: 20px;
    height: 20px;
    top: -8px;
    left: 50px;
    filter: opacity(0);
}

.nav-items a:hover:before{
    filter: opacity(1);
    transform: translateY(-10px);
}

#lonely-btn{
    display: inline-block;
    border: 2px solid white;
    background: red;
    color: white;
    border-radius: 30px;
    transition: .3s ease-in-out;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    padding: 10px 15px;
    width: 90px;
    transition: .3s ease-in;
    text-align: center;
    margin-right: -20px;
}

#lonely-btn:hover{
    background: transparent;
    border: 2px solid red;
    color: red;
    font-weight: bold;
    box-shadow: 0px 5px 0px red;
    transform: scale(1.1);
}

main{
    display: flex;
    align-items: center;
    height: 100vh;
}

.aside{
    width: 300px;
    height: 250px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    margin-left: 50px;
    color: rgb(29, 29, 29);
    position: absolute;
    line-height: 170%;
    display: flex;
    flex-direction: column;
    gap: 13px;
    margin-top: -200px;
}

#btn-aside{
    display: inline-block;
    border: 2px solid white;
    background: red;
    color: white;
    border-radius: 30px;
    transition: .3s ease-in-out;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    padding: 10px 15px;
    width: 150px;
    transition: .3s ease-in;
    text-align: center;
    text-decoration: none;

}

#btn-aside:hover{
    background: transparent;
    border: 2px solid red;
    color: red;
    font-weight: bold;
    box-shadow: 0px 5px 0px red;
    transform: scale(1.1);
}


section{
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: center;
}

#starra-shoe{
    width: 38rem;
}

.circle{
    display: inline-block;
    width: 500px;
    height: 500px;
    position: absolute;
    background:
        linear-gradient(
        to right,
            #df0000,
            #f13f12
        );
    border-radius: 50%;
    z-index: -1;
}

main i{
    margin-left: 2px;
    transform: rotate(180deg);
    font-size: 16px;

}

.more-text{
    display: none;
}

#read-more-btn{
    cursor: pointer;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    border-radius: 30px;
    padding: 5px;
}

#read-more-btn:hover{
    background-color: #dbdbdb;
}

.aside.open .more-text{
    display: block;
}

.footer-aside{
    width: 400px;
    margin-left: 50px;
    margin-top: -90px;
}

.footer-aside i{
    font-size: 25px;
    border: 2px solid;
    border-radius: 50%;
    padding: 8px;
    color: red;
    margin-right: 17px;
    transition: .2s ease-in-out;
}

.footer-aside i:hover{
    transform: scale(1.2);
    background-color: #af1702;
    color: white;
}

.body-sign-in{
    display: flex;
    width: 100%;
    height: 100vh;
    background:
    linear-gradient(
        to right,
            #df0000,
            #e4280f,
            #f13f12
        );
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


form{
    background: white;
    padding: 20px;
    border-radius: 15px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img{
    width: 70px;
    transform: translateY(-40px);
}

.form-header h1{
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px;
    margin-bottom: 15px;
}

.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-box label{
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
}

.input-box input{
    padding: 10px 40px 5px 10px;
    border: none;
    background: rgb(212, 212, 212);
    border-radius: 5px;
}

.input-box input:focus{
    outline: none !important;
}

.forget-remember{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    align-items: center;
}

.forgot a{
    text-decoration: none;
    color: #af1702;
}

.forgot a:hover{
    color: #750e00;
}

.footer a{
    text-decoration: none;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    gap: 20px;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.sign-google a{
    display: flex;
    align-items: center;
    color: black;
    padding: 10px 40px 10px 40px;
    border-radius: 10px;
    transition: 80ms;
}

.sign-google img{
    margin-right: 5px;
}

.sign-google a:hover{
    background: rgb(219, 219, 219);
}

.login button{
    padding: 10px;
    width: 230px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 80ms;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.login button:hover{
    background: #af1702;
}
